In [66]:
import pandas as pd
import numpy as np

In [67]:
ghg = pd.read_csv('./input/emissioni_gas_serra.tsv', sep='\t')

In [68]:
ghg.head()

,geo/time,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,AT,10.2,10.7,10.8,11.4,11.3,11.4,11.1,10.8,10.7,...,10.3,10.0,9.7,9.6,9.2,9.3,9.4,9.6,9.2,9.3
1,BE,15.0,14.7,14.6,14.6,14.6,14.2,13.9,13.5,13.4,...,12.7,11.6 b,11.2 b,11.1,10.6,10.9,10.8,10.7,10.8,10.6
2,BG,7.1,7.6,7.5,8.2,8.1,8.3,8.4,9.0,8.9,...,8.2,8.9,8.3,7.6,8.1,8.6,8.3,8.7,8.3,8.1
3,CH,8.1,8.2,7.9,7.9,7.9,7.9,7.9,7.6,7.7,...,7.6,7.0 b,7.1,7.1,6.6,6.5,6.5,6.3,6.1,6.1
4,CY,13.2,13.2,13.3,13.8,13.8,13.6,13.7,13.9,13.8,...,12.4,11.8,11.0,10.1,10.7,10.7,11.4,11.6,11.3,11.2

In [69]:
countries = ghg.iloc[:,0].values
countries

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'EU28', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT',
       'LT', 'LU', 'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI',
       'SK', 'TR', 'UK'], dtype=object)

In [70]:
ghg_19 = ghg.iloc[:,-1].values
ghg_19

array(['9.3 ', '10.6 ', '8.1 ', '6.1 ', '11.2 ', '11.7 ', '10.1 ', '8.1 ',
       '11.2 ', '8.4 ', '7.1 ', '8.4 bep', '8.2 bep', '10.1 ', '6.8 p',
       '6.0 ', '6.7 ', '12.8 e', '15.8 ', '7.2 b', '7.4 ', '20.3 ',
       '6.1 ', '5.3 ', '11.1 ', '9.7 ', '10.4 ', '6.6 ', '5.9 e', '5.2 ',
       '8.2 ', '7.4 ', '6.3 ', '7.3 '], dtype=object)

In [72]:
ghg_19_parsed = []

for i in range(len(ghg_19)):
    k = ghg_19[i].split(' ')
    ghg_19_parsed.append(k[0])
    
ghg_19_parsed

['9.3',
 '10.6',
 '8.1',
 '6.1',
 '11.2',
 '11.7',
 '10.1',
 '8.1',
 '11.2',
 '8.4',
 '7.1',
 '8.4',
 '8.2',
 '10.1',
 '6.8',
 '6.0',
 '6.7',
 '12.8',
 '15.8',
 '7.2',
 '7.4',
 '20.3',
 '6.1',
 '5.3',
 '11.1',
 '9.7',
 '10.4',
 '6.6',
 '5.9',
 '5.2',
 '8.2',
 '7.4',
 '6.3',
 '7.3']

In [73]:
ghg_19 = np.array(ghg_19_parsed)
ghg_19

array(['9.3', '10.6', '8.1', '6.1', '11.2', '11.7', '10.1', '8.1', '11.2',
       '8.4', '7.1', '8.4', '8.2', '10.1', '6.8', '6.0', '6.7', '12.8',
       '15.8', '7.2', '7.4', '20.3', '6.1', '5.3', '11.1', '9.7', '10.4',
       '6.6', '5.9', '5.2', '8.2', '7.4', '6.3', '7.3'], dtype='<U4')

In [74]:
ghg_19 = ghg_19.astype(float)
ghg_19

array([ 9.3, 10.6,  8.1,  6.1, 11.2, 11.7, 10.1,  8.1, 11.2,  8.4,  7.1,
        8.4,  8.2, 10.1,  6.8,  6. ,  6.7, 12.8, 15.8,  7.2,  7.4, 20.3,
        6.1,  5.3, 11.1,  9.7, 10.4,  6.6,  5.9,  5.2,  8.2,  7.4,  6.3,
        7.3])

In [75]:
ghg_latest = pd.DataFrame({"country": countries,
                           "ghg_percapita": ghg_19})
ghg_latest

      country  ghg_percapita
0          AT            9.3
1          BE           10.6
2          BG            8.1
3          CH            6.1
4          CY           11.2
5          CZ           11.7
6          DE           10.1
7          DK            8.1
8          EE           11.2
9          EL            8.4
10         ES            7.1
11  EU27_2020            8.4
12       EU28            8.2
13         FI           10.1
14         FR            6.8
15         HR            6.0
16         HU            6.7
17         IE           12.8
18         IS           15.8
19         IT            7.2
20         LT            7.4
21         LU           20.3
22         LV            6.1
23         MT            5.3
24         NL           11.1
25         NO            9.7
26         PL           10.4
27         PT            6.6
28         RO            5.9
29         SE            5.2
30         SI            8.2
31         SK            7.4
32         TR            6.3
33         UK            7.3

In [76]:
ghg_latest.drop(11, inplace=True)
ghg_latest.drop(12, inplace=True)

ghg_latest

   country  ghg_percapita
0       AT            9.3
1       BE           10.6
2       BG            8.1
3       CH            6.1
4       CY           11.2
5       CZ           11.7
6       DE           10.1
7       DK            8.1
8       EE           11.2
9       EL            8.4
10      ES            7.1
13      FI           10.1
14      FR            6.8
15      HR            6.0
16      HU            6.7
17      IE           12.8
18      IS           15.8
19      IT            7.2
20      LT            7.4
21      LU           20.3
22      LV            6.1
23      MT            5.3
24      NL           11.1
25      NO            9.7
26      PL           10.4
27      PT            6.6
28      RO            5.9
29      SE            5.2
30      SI            8.2
31      SK            7.4
32      TR            6.3
33      UK            7.3

In [77]:
ghg_latest = ghg_latest.sort_values(by="ghg_percapita")

ghg_latest

   country  ghg_percapita
29      SE            5.2
23      MT            5.3
28      RO            5.9
15      HR            6.0
22      LV            6.1
3       CH            6.1
32      TR            6.3
27      PT            6.6
16      HU            6.7
14      FR            6.8
10      ES            7.1
19      IT            7.2
33      UK            7.3
20      LT            7.4
31      SK            7.4
2       BG            8.1
7       DK            8.1
30      SI            8.2
9       EL            8.4
0       AT            9.3
25      NO            9.7
13      FI           10.1
6       DE           10.1
26      PL           10.4
1       BE           10.6
24      NL           11.1
8       EE           11.2
4       CY           11.2
5       CZ           11.7
17      IE           12.8
18      IS           15.8
21      LU           20.3

In [79]:
ghg_latest.to_csv('./output/ghg.csv', index=False)